.pokedex-wrapper{
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pokedex-wrapper h1{
    font-size: 50px;
    font-weight: 900;
}